<div class="d-flex justify-content-center mt-5" style="font-size: medium; background-color: rgb(20, 126, 126); width: 300px;margin: auto;"
  >
    <form (ngSubmit)="onsubmit()"  #loginform="ngForm">
        <div class="mb-3">
          <label  class="form-label">Email address</label>
          <input type="email" [(ngModel)]="email" name="email" id="email" #inputemail="ngModel" class="form-control"  
          required email>

         <div *ngIf="inputemail.invalid && inputemail.touched">
            <span class="text-danger" *ngIf="inputemail.errors?.['required']">email required</span> 
            <span class="text-danger" *ngIf="inputemail.errors?.['email']">Please enter a valid mail</span>
        </div>
        </div>
        <div class="mb-3">
          <label  class="form-label">Password</label>
          <input type="password"  [(ngModel)]="password" name="password"  #inputpswd="ngModel"  class="form-control"
          required minlength="6" >

          <div *ngIf="inputpswd.invalid && inputpswd.touched">
            <span class="text-danger" *ngIf="inputpswd.errors?.['required']">password required</span>
            <span  class="text-danger" *ngIf="inputpswd.errors?.['minlength']">Check password</span>

          </div>
        </div>
      
    <div class="text-center">    
  <button type="submit" class="btn btn-primary mb-2" routerLink="/welcome" [disabled]="loginform.invalid" routerLink="/welcome" >Login</button></div>

  <div>
     <a routerLink="/register" style="text-decoration: none ;"> <p >New Here?! <span>Register</span></p></a>
  </div>
      </form>
</div>