
<div class="d-flex justify-content-center  ">
    
    <table class="table table-bordered table-hover shadow p-3 w-50 mt-5 ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Gender</th>
            <h1></h1>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{formData.fname}}</td>
            <td>{{formData.mail}}</td>
            <td>{{formData.number}}</td>
            <td>{{formData.gender}}</td>
          </tr>
         
         
        </tbody>
      </table>
</div>