<div class="row mx-2 mt-5">
  <div class="col-md-2 col-sm-4">
    <img src="https://th.bing.com/th/id/R.e219163d793736fb056e80d5922a7f82?rik=m1mBctCAx6eXHQ&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fbusinessman-at-desk-png-businessman-working-in-his-desk-1-02-png-1198.png&ehk=tlG4ljpkbELt3Ww%2bR2fH8vcq7RkWyOHJ8HmOz4DAHu0%3d&risl=&pid=ImgRaw&r=0" width="100px" alt="">
    <h4>Human Being</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur beatae accusantium earum eveniet hic similique dolore autem quo fuga necessitatibus?</p>
  </div>
  <div class="col-md-5">
    <h3><b>User Details</b></h3>
  </div>
  <div class="col-md-5">
    <h3><b>Account Details</b></h3>
  </div>
</div>
