<form  #regform="ngForm">
  <div class="row mx-5 mt-5">

    <div class="col-md-2  mt-5">
      <img
        src="https://th.bing.com/th/id/R.e219163d793736fb056e80d5922a7f82?rik=m1mBctCAx6eXHQ&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fbusinessman-at-desk-png-businessman-working-in-his-desk-1-02-png-1198.png&ehk=tlG4ljpkbELt3Ww%2bR2fH8vcq7RkWyOHJ8HmOz4DAHu0%3d&risl=&pid=ImgRaw&r=0"
        width="100px" alt="">
      <h4><b>Human Being</b></h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur beatae accusantium earum eveniet hic
        similique dolore autem quo fuga necessitatibus?</p>
    </div>
    <div class="col-md-5  mt-5">
      <h3><b>User Details</b></h3>
      <div>
        <div class="mt-3">
          <label for="" class="text-secondary">Full name*</label>

          <div class="example-form ">

            <mat-form-field class="example-full-width ">

              <input matInput placeholder="" value="" class="text-secondary" [(ngModel)]="fname" name="fname"
                #fullname="ngModel" required pattern="[a-z A-Z]*" type="text">

              <div *ngIf="fullname.invalid && fullname.touched">
                <span class="text-danger" *ngIf="fullname.errors?.['required']">Enter full name!!!! </span>

                <span class="text-danger" *ngIf="fullname.errors?.['pattern']"> Type in letters</span>

              </div>

            </mat-form-field>

          </div>

        </div>
        <div class="mt-3">
          <label for="" class="text-secondary">Your Birthday*</label>

          <div class="flex-column ">
            <mat-form-field>
              <mat-label>Choose a date</mat-label>

              <input matInput [matDatepicker]="picker" [(ngModel)]="date" name="date" #datecal="ngModel" required
                readonly>

              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div *ngIf="datecal.invalid && datecal.touched">
              <span class="text-danger" *ngIf="datecal.errors?.['required']">please enter value</span>

            </div>
          </div>

        </div>
        <!--gender-->
        <div class="mt-3">
          <label for="" class="text-secondary">Gender*</label>
          <mat-radio-group aria-label="Select an option" name="gender" [ngModel]="gender">
            <mat-radio-button   value="m" > <i class="fa-solid fa-mars fa-lg "
                style="color: #74C0FC;"></i></mat-radio-button>
                
            <mat-radio-button value="f" id="radio1">  <i class="fa-solid fa-venus fa-lg"
                style="color:  #fc73e3;"></i></mat-radio-button>
            <mat-radio-button value="t" id="radio2">  <i class="fa-solid fa-venus-mars fa-lg"
                style="color: #63E6BE;"></i></mat-radio-button>

          </mat-radio-group>

         
        </div>
     <!--country-->
        <div class="mt-3 row">
          <div class="col-md">
            <label for="" class="text-secondary">Country*</label>
            <div class="flex-column mt-2">
              <form [formGroup]="form">
                <mat-form-field>
                  <select matNativeControl formControlName="country" required>
                    <option value="">Select Your Country</option>
                    <option value="india">India</option>
                    <option value="united-states">United States</option>
                    <option value="canada">Canada</option>
                    <option value="australia">Australia</option>
                    <option value="germany">Germany</option>
                    <option value="france">France</option>
                    <option value="japan">Japan</option>
                    <option value="brazil">Brazil</option>
                    <option value="south-africa">South Africa</option>
                    <option value="china">China</option>
                    <option value="russia">Russia</option>
                    <option value="mexico">Mexico</option>
                    <option value="italy">Italy</option>
                    <option value="spain">Spain</option>
                    <option value="south-korea">South Korea</option>
                    <option value="argentina">Argentina</option>
                    <option value="netherlands">Netherlands</option>
                    <option value="sweden">Sweden</option>
                    <option value="new-zealand">New Zealand</option>
                    <option value="switzerland">Switzerland</option>

                  </select>
                </mat-form-field>
              </form>

            </div>
            <div *ngIf="form.controls['country'].invalid && form.controls['country'].touched">
              <span class="text-danger">Please Select a country**</span>
            </div>
          </div>
          
          <div class="col-md ">
            <label for="" class="text-secondary mb-2">Phone*</label>
            <mat-form-field class="example-full-width ">

              <input [(ngModel)]="number" name="number" #phoneno="ngModel" required pattern="[0-9+]*" minlength="10"
                class="text-secondary" matInput placeholder="" value="">
            </mat-form-field>
            <div *ngIf="phoneno.invalid && phoneno.touched">
              <span class="text-danger" *ngIf="phoneno.errors?.['required']">Kindly enter Number**</span>
              <span class="text-danger" *ngIf="phoneno.errors?.['minlength']">Min 10**</span>
              <span class="text-danger" *ngIf="phoneno.errors?.['pattern']">Number only</span>
            </div>
          </div>


          <div>
            <label for="" class="text-secondary mb-2">Bio*</label>
            <mat-form-field class="example-full-width ">
              <input [(ngModel)]="bio" name="bio" #biour="ngModel" required minlength="20" class="text-secondary"
                matInput placeholder="Tell us about Yourself!!" value="">
            </mat-form-field>
          </div>
          <div *ngIf="biour.invalid && biour.touched">
            <span class="text-danger" *ngIf="biour.errors?.['required']"> Kindlly Fill the form** </span>
            <span class="text-danger" *ngIf="biour.errors?.['minlength']">Minimum 20 Character** </span>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-space-between">

        <button class="btn btn-outline-success"   (click)="finalesubmit()"   [disabled]="regform.invalid">Submit</button>
        <button (click)="clearPage() " class="btn btn-outline-secondary mx-4">Clear</button>

        <button class="btn btn-outline-success" routerLink="/list">List</button>
      </div>

    </div>
    <div class="col-md-5  mt-5">
      <h3><b>Account Details</b></h3>
      <div>
        <label for="" class="text-secondary mb-2">UserName*</label>

        <mat-form-field class="example-full-width ">

          <input [(ngModel)]="username" name="username" #uname="ngModel" required pattern="[a-zA-Z@#_0-9]*"
            class="text-secondary" matInput placeholder="" value="">
        </mat-form-field>
        <div *ngIf="uname.invalid && uname.touched">
          <span class="text-danger" *ngIf="uname.errors?.['required']">Please fill the form</span>
          <span class="text-danger " *ngIf="uname.errors?.['pattern']">username not accepted</span>
        </div>

      </div>
      <div>
        <label for="" class="text-secondary mb-2">Email*</label>
        <mat-form-field class="example-full-width ">
          <input [(ngModel)]="mail" name="mail" #email="ngModel" required email class="text-secondary" matInput
            placeholder="" value="" autocomplete="off">
        </mat-form-field>
      </div>
      <div *ngIf="email.touched && email.touched">
        <span class="text-danger" *ngIf="email.errors?.['required']">Please Fill the form </span>
        <span class="text-danger" *ngIf="email.errors?.['email']">error </span>
      </div>

      <div>
        <label for="" class="text-secondary mb-2">Password*</label>
        <mat-form-field class="example-full-width ">
          <input [(ngModel)]="password" name="password" #passkey="ngModel" required minlength="6" type="password"
            class="text-secondary" matInput placeholder="" value="">
        </mat-form-field>

        <div *ngIf="passkey.invalid && passkey.touched">
          <span class="text-danger" *ngIf="passkey.errors?.['required']">Fill the form***</span>
          <span class="text-danger" *ngIf="passkey.errors?.['minlength']">Min 6 Character***</span>
        </div>

      </div>
      <div>
        <label for="" class="text-secondary mb-2">Confirm Password*</label>
        <mat-form-field class="example-full-width ">
          <input [(ngModel)]="password2" name="password2" #passkey2="ngModel" required minlength="6"  type="password" class="text-secondary" matInput placeholder="" value="">
        </mat-form-field>
        <div *ngIf="passkey2.invalid && passkey2.touched">
          <span class="text-danger" *ngIf="passkey2.errors?.['required']">Fill the form***</span>
          <span class="text-danger" *ngIf="passkey2.errors?.['minlength']">Min 6 Character***</span>
        </div>
      </div>

      <form #termcon="ngForm">
        <mat-checkbox class="example-margin" ngModel required="" name="acceptedterms">I accept terms and conditions</mat-checkbox>
      </form>
      <div *ngIf="termcon.controls['acceptedterms']?.invalid && termcon.controls['acceptedterms']?.touched ">
        <span class="text-danger" >You Must accept the terms to continue**</span>
      </div>

    </div>
 
  </div>
</form>